allFiredEvents
.build-temp
node_modules
.env
.certora*
certora_*
coverage/
coverage.json
coverageEnv/
emv-*/
formulas/
outputs/
Reports/
scTopics
*.DS_Store
test-results.xml
.tsbuilt
yarn-error.log
.scencache
.solcache
.solcachecov
.env.js
package-lock.json
